.container {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: blue;
    color: whitesmoke;
    padding: 10px 25px;
    border-radius: 10px;
    margin: 0 0 10px;
}

.photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.heading2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(152, 150, 150);
    color: whitesmoke;
    padding: 10px 25px;
    border-radius: 10px;
    margin: 0 0 10px;
}